extends layout

block content
  h1= title
  if image
    img(src=`/uploads/${image.name}`, alt=image.name, width='300')
    p Name: #{image.name}
    a(href=`/uploads/${image.name}`, download=image.name) Download
  else
    p No image found.
